@charset "utf-8";
/* 将必填字段标志改为红色 */
span.field_required{
    color:red;
}

/* bootstrap 的 select默认太宽了 */
select.autowidth{
    width:auto;
}

/* data_list的样式 */
div.dataListHeader{
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding-left: 20px;
    padding-right: 20px;
    min-height: 50px;
    line-height:50px;
}
div.dataListLeftMenuArea{
	float:left;
	width:200px;
}

div.dataListDataArea{
	overflow:hidden;
}

div.clearBoth{
    clear:both;
    height:1px;
    margin-top:-1px;
    overflow:hidden;
}
