@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
/* 将必填字段标志改为红色 */
span.field_required{
    color:red;
}

/* bootstrap 的 select默认太宽了 */
select.autowidth{
    width:auto;
}

/* data_list的样式 */
div.dataListHeader{
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    padding: 5px 20px 5px 20px;
    min-height: 20px;
}
div.dataListLeftMenuArea{
	float:left;
	width:200px;
}

div.dataListDataArea{
	overflow:hidden;
}

div.clearBoth{
    clear:both;
    height:1px;
    margin-top:-1px;
    overflow:hidden;
}
