@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}

/* bootstrap 的 select默认太宽了 */
select.autowidth{
    width:auto;
}
#grid-help-info div.alert{
    margin-bottom:0px;
}

/* data_list的样式 */
div.dataListHeader{
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    padding: 5px 20px 5px 20px;
    min-height: 20px;
}
div.dataListLeftMenuArea{
    float:left;
    width:170px;
}

div.dataListDataArea{
    overflow:hidden;
}

div.clearBoth{
    clear:both;
    height:1px;
    margin-top:-1px;
    overflow:hidden;
}

/* artDialog中内有table时，总是底部有白边。。需要设置此值 */
td.d-main{
    line-height:20px;
}
td.d-main table.table-bordered{
    border-style:none;
    border-collapse:collapse;
}
td.d-main table.table-bordered td{
    height:30px;
    vertical-align: middle;
}
td.d-main table.table-bordered td.text-right{
    text-align:right;
}

/* 文件上传的所需要的样式  从 jquer.fileupload-ui.css 中精简出来的 */
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

